.mega-menu-wrapper {
  display: contents;
}
 
.mega-menu-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.mega-menu-navlink1 {
  display: contents;
}
 
.mega-menu-thq-page-one-elm1 {
  color: rgba(255, 255, 255, 1);
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.mega-menu-link {
  display: contents;
}
 
.mega-menu-thq-page-one-elm2 {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.mega-menu-navlink2 {
  display: contents;
}
 
.mega-menu-thq-page-one-elm3 {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.mega-menu-navlink3 {
  display: contents;
}
 
.mega-menu-thq-page-one-elm4 {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.mega-menu-navlink4 {
  display: contents;
}
 
.mega-menu-thq-page-one-elm5 {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 767px) {
  .mega-menu-thq-page-one-elm2 {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .mega-menu-thq-page-one-elm3 {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .mega-menu-thq-page-one-elm4 {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .mega-menu-thq-page-one-elm5 {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
}
 
@media(max-width: 479px) {
  .mega-menu-thq-page-one-elm1 {
    color: rgb(255, 255, 255);
    margin-bottom: var(--dl-layout-space-halfunit);
    text-decoration: none;
  }
  .mega-menu-thq-page-one-elm2 {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .mega-menu-thq-page-one-elm3 {
    color: rgb(255, 255, 255);
    margin-bottom: var(--dl-layout-space-halfunit);
    text-decoration: none;
  }
  .mega-menu-thq-page-one-elm4 {
    color: rgb(255, 255, 255);
    margin-bottom: var(--dl-layout-space-halfunit);
    text-decoration: none;
  }
  .mega-menu-thq-page-one-elm5 {
    color: rgb(255, 255, 255);
    margin-bottom: var(--dl-layout-space-halfunit);
    text-decoration: none;
  }
}

.header-light-confluent-thq-header-elm {
  width: 100%;
  height: 100px;
  display: flex;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: relative;
  align-self: flex-start;
  align-items: center;
  margin-bottom: var(--dl-layout-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.header-light-confluent-container10 {
  height: 100%;
  display: flex;
  padding: var(--dl-layout-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.header-light-confluent-thq-header-wrapper-elm1 {
  flex: 0 0 auto;
  width: 1620px;
  height: 100%;
  display: flex;
  z-index: 2;
  align-self: center;
  align-items: flex-start;
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.header-light-confluent-container11 {
  flex: 0 0 auto;
  width: 33.3%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.header-light-confluent-navlink1 {
  display: contents;
}
 
.header-light-confluent-image1 {
  width: auto;
  height: 40px;
  object-fit: cover;
  text-decoration: none;
}
 
.header-light-confluent-container12 {
  flex: 0 0 auto;
  width: 33.3%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
 
.header-light-confluent-container13 {
  display: flex;
  align-items: center;
  border-color: #4B4B4B;
  justify-content: center;
  background-color: #4B4B4B;
}
 
.header-light-confluent-navlink2 {
  display: contents;
}
 
.header-light-confluent-image2 {
  width: auto;
  object-fit: cover;
  margin-right: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.header-light-confluent-navlink3 {
  display: contents;
}
 
.header-light-confluent-image3 {
  width: auto;
  object-fit: cover;
  text-decoration: none;
}
 
.header-light-confluent-container14 {
  flex: 0 0 auto;
  width: 33.3%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
 
.header-light-confluent-container15 {
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
 
.header-light-confluent-thq-tagline-elm {
  fill: var(--dl-color-infosys-basic-white);
  color: var(--dl-color-infosys-basic-white);
  height: auto;
  font-size: 2rem;
  font-style: Medium;
  text-align: left;
  font-family: "Tungsten-Medium";
  font-weight: 500;
  line-height: 1;
  font-stretch: normal;
  margin-bottom: 5px;
  letter-spacing: 0.6rem;
  text-decoration: none;
}
 
.header-light-confluent-thq-icon-group-elm {
  display: flex;
}
 
.header-light-confluent-thq-burger-menu-elm {
  display: none;
}
 
.header-light-confluent-icon1 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  display: flex;
}
 
.header-light-confluent-thq-mobile-menu-elm {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 999;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-infosys-sapphire-brand-sapphire-dark);
}
 
.header-light-confluent-thq-nav-elm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.header-light-confluent-thq-header-wrapper-elm2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  z-index: 2;
  align-self: center;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-twounits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.header-light-confluent-container16 {
  flex: 0 0 auto;
  width: 33.3%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.header-light-confluent-image4 {
  width: auto;
  object-fit: cover;
  text-decoration: none;
}
 
.header-light-confluent-container17 {
  flex: 0 0 auto;
  width: 33.3%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
 
.header-light-confluent-container18 {
  display: none;
  align-items: center;
  border-color: var(--dl-color-infosys-sapphire-brand-sapphire-medium);
  justify-content: center;
  background-color: var(--dl-color-infosys-sapphire-brand-sapphire-medium);
}
 
.header-light-confluent-image5 {
  width: auto;
  object-fit: cover;
  margin-right: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.header-light-confluent-image6 {
  width: auto;
  object-fit: cover;
  text-decoration: none;
}
 
.header-light-confluent-container19 {
  flex: 0 0 auto;
  width: 33.3%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
 
.header-light-confluent-thq-close-mobile-menu-elm {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.header-light-confluent-icon3 {
  fill: #85DCFF;
  width: auto;
  height: var(--dl-layout-size-small);
}
 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 1600px) {
  .header-light-confluent-thq-header-elm {
    width: 100%;
  }
  .header-light-confluent-container10 {
    width: 95%;
    align-self: center;
  }
  .header-light-confluent-thq-header-wrapper-elm1 {
    width: 100%;
  }
  .header-light-confluent-container11 {
    position: relative;
  }
  .header-light-confluent-thq-tagline-elm {
    fill: var(--dl-color-infosys-sapphire-sapphire-light);
    color: var(--dl-color-infosys-basic-white);
  }
  .header-light-confluent-thq-mobile-menu-elm {
    display: none;
  }
  .header-light-confluent-thq-header-wrapper-elm2 {
    width: 100%;
  }
  .header-light-confluent-icon3 {
    height: var(--dl-layout-size-small);
  }
}
 
@media(max-width: 1200px) {
  .header-light-confluent-thq-header-wrapper-elm1 {
    width: 100%;
  }
  .header-light-confluent-image1 {
    height: auto;
  }
  .header-light-confluent-thq-mobile-menu-elm {
    display: none;
  }
  .header-light-confluent-thq-header-wrapper-elm2 {
    width: 100%;
  }
  .header-light-confluent-image4 {
    height: 40px;
  }
  .header-light-confluent-icon3 {
    height: var(--dl-layout-size-small);
  }
}
 
@media(max-width: 991px) {
  .header-light-confluent-thq-header-wrapper-elm1 {
    width: 100%;
  }
  .header-light-confluent-image1 {
    height: auto;
  }
  .header-light-confluent-container14 {
    flex-direction: row;
  }
  .header-light-confluent-thq-mobile-menu-elm {
    display: none;
  }
  .header-light-confluent-thq-header-wrapper-elm2 {
    width: 100%;
  }
  .header-light-confluent-image4 {
    height: 40px;
  }
  .header-light-confluent-container19 {
    flex-direction: row;
  }
  .header-light-confluent-icon3 {
    height: var(--dl-layout-size-small);
  }
}
 
@media(max-width: 767px) {
  .header-light-confluent-thq-header-elm {
    padding: var(--dl-layout-space-twounits);
  }
  .header-light-confluent-thq-header-wrapper-elm1 {
    width: 100%;
  }
  .header-light-confluent-image1 {
    height: 25px;
  }
  .header-light-confluent-container14 {
    flex-direction: row;
  }
  .header-light-confluent-thq-tagline-elm {
    display: none;
  }
  .header-light-confluent-thq-icon-group-elm {
    z-index: 100;
  }
  .header-light-confluent-thq-burger-menu-elm {
    display: flex;
    align-items: center;
    margin-right: 16px;
    justify-content: center;
  }
  .header-light-confluent-icon1 {
    fill: var(--dl-color-infosys-sapphire-brand-sapphire-background);
    width: auto;
    height: var(--dl-layout-size-small);
  }
  .header-light-confluent-thq-mobile-menu-elm {
    height: 100vh;
    display: none;
  }
  .header-light-confluent-thq-header-wrapper-elm2 {
    width: 100%;
  }
  .header-light-confluent-image4 {
    height: 40px;
  }
  .header-light-confluent-container19 {
    flex-direction: row;
  }
  .header-light-confluent-icon3 {
    height: var(--dl-layout-size-small);
  }
}
 
@media(max-width: 479px) {
  .header-light-confluent-thq-header-elm {
    padding: var(--dl-layout-space-twounits);
  }
  .header-light-confluent-thq-header-wrapper-elm1 {
    width: 100%;
  }
  .header-light-confluent-image1 {
    height: 25px;
  }
  .header-light-confluent-container13 {
    display: none;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-light-confluent-image2 {
    width: auto;
    height: 30px;
  }
  .header-light-confluent-image3 {
    width: auto;
    height: 30px;
  }
  .header-light-confluent-container14 {
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }
  .header-light-confluent-thq-tagline-elm {
    display: none;
  }
  .header-light-confluent-icon1 {
    fill: var(--dl-color-infosys-sapphire-brand-sapphire-background);
    width: auto;
    height: var(--dl-layout-size-small);
  }
  .header-light-confluent-thq-mobile-menu-elm {
    display: none;
    padding: var(--dl-layout-space-twounits);
    background-color: var(--dl-color-infosys-sapphire-brand-sapphire-dark);
  }
  .header-light-confluent-thq-header-wrapper-elm2 {
    width: 100%;
    margin-bottom: var(--dl-layout-space-twounits);
  }
  .header-light-confluent-image4 {
    height: 40px;
  }
  .header-light-confluent-container18 {
    border-color: var(--dl-color-infosys-sapphire-brand-sapphire-medium);
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--dl-color-infosys-sapphire-brand-sapphire-medium);
  }
  .header-light-confluent-image5 {
    width: auto;
    height: 30px;
    margin-right: var(--dl-layout-space-unit);
  }
  .header-light-confluent-image6 {
    width: auto;
    height: 30px;
  }
  .header-light-confluent-container19 {
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }
  .header-light-confluent-icon3 {
    width: auto;
    height: var(--dl-layout-size-small);
  }
}
